//---------------------------------------------------------------------------
//
// Name:        wxJBupGUIApp.rc
// Author:      Josh Bosley
// Created:     4/1/2014 6:29:28 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
